<head>
	<title>VK App</title>
	<script src="https://vk.com/js/api/openapi.js?160" type="text/javascript"></script>
</head>
<body>  
	<div id="app"></div>
	<script type="text/javascript">
		VK.init({
			apiId: 6830095,
		})
	</script>
</body>
