<template>
  <div :class="main.cont">
    <section :class="main.leftBlock">
      <custom-input v-on:change="loadImages" />
      <div :class="main.images">
        <custom-image 
          v-for="image in images" 
          :key="image.id"
          :id="image.id"
          :starred="image.starred"
          :url="image.sizes[6].url"
          v-on:star="starImage"
        />
      </div>
    </section>
    <aside :class="main.rightBlock">
      <h2 :class="main.title">Избранные</h2>
      <div :class="main.imagesStarred">
        <custom-image 
          v-for="image in starred" 
          :key="image.id"
          :id="image.id"
          :starred="true"
          :url="image.sizes[6].url"
          v-on:star="unstarImage"
        />
      </div>
    </aside>
  </div>
</template>

<style module="main">
  .cont {
    display: flex;
  }
  .leftBlock {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 2rem;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
  }
  .rightBlock {
    width: 30%;
    padding: 2rem;
  }
  .imagesStarred,
  .images {
    display: grid;
    grid-auto-rows: 10rem;
    grid-gap: 1rem;
    margin-top: 4rem;
  }
  .images {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .imagesStarred {
    grid-template-columns: 1fr 1fr;
  }
  .title {
    margin: 0;
    padding: .5rem 0;
  }
</style>

<script>
  export default {
    data() {
      return {
        session: null,
        status: 'unauthorized',
        images: [],
        starred: [],
      }
    },
    methods: {
      loadImages: function(query) {
        const self = this

        console.log(query)

        VK.Api.call('photos.search', {
          q: query,
          v: 5.92,
          count: 12,
        }, function(data) {
          console.log(data)

          if (data.error) {
            console.error(data.error)
          } else {
            const { response: { items: images } } = data

            for (const image of images) {
              for (const starImage of self.starred) {
                if (image.id === starImage.id) {
                  image.starred = true
                  continue
                }
              }
            }

            self.images = images
          }
        })
      },
      starImage: function(id) {
        for (const image of this.images) {
          if (id === image.id && !image.starred) {
            image.starred = true
            this.starred.push(image)
            return
          }
        }
      },
      unstarImage: function(id) {
        for (const image of this.images) {
          if (id === image.id) {
            image.starred = false
            continue
          }
        }
        for (let index = 0; index < this.starred.length; index++) {
          const image = this.starred[index]
          
          if (id === image.id) {
            this.starred.splice(index, 1)
            return
          }
        }
      },
    },
    mounted: function() {
      VK.Auth.login(response => {
        const { session, status } = response

        console.log(session, status)

        this.session = session
        this.status = status
      })
    },
  }
</script>