<template>
  <input 
    :class="customInput.body"
    placeholder="Строка поиска"
    v-on:change="onChange"
  />
</template>

<style module="customInput">
  .body {
    padding: .5rem 1rem;
    border: none;
    background: #ededed;
    color: black;
    font-size: 1.4rem;
  }
  .body:focus,
  .body:hover {
    outline: none;
  }
</style>

<script>


  export default {
    data() {
      return {
      }
    },
    methods: {
      onChange: function(event) {
        this.$emit('change', event.target.value)
      }, 
    },
  }
</script>