<template>
  <div :class="customImage.cont">
    <img 
      :class="customImage.image"
      :src="url"
    />
    <div :class="customImage.starBtn"
      v-on:click="onStar"
    >
      <svg 
        :class="customImage.star" 
        v-if="!starred"
        width="1em" 
        height="1em" 
        viewBox="0 0 24 24" 
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
      <svg 
        :class="customImage.star" 
        v-else
        width="1em" 
        height="1em" 
        viewBox="0 0 24 24" 
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
    </div>
  </div>
</template>

<style module="customImage">
  .cont {
    position: relative;
    background: #ededed;
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }
  .starBtn {
    display: none;
    position: absolute;
    top: .5rem;
    right: .5rem;
    width: 2rem;
    height: 2rem;
    padding: .2rem;
    cursor: pointer;
    border-radius: 50%;
    font-size: 2rem;
    background: #ededed;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }
  .cont:hover > .starBtn {
    display: flex;
  }
  .star {
    fill: currentColor;
  }
</style>

<script>
  export default {
    data() {
      return {
      }
    },
     methods: {
      onStar: function(event) {
        this.$emit('star', this.id)
      }, 
    },
  }
</script>